<template>
  <div>
    <div>ABOUT</div>

    <ul>
      <li>
        <router-link :to="{ name: 'index' }">index</router-link>
      </li>

      <li>
        <router-link :to="{ name: 'about' }">about</router-link>
      </li>

      <li>
        <router-link :to="{ name: 'secret' }">secret</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
