<template>
  <div>
    <div>INDEX</div>

    <ul>
      <li>
        <router-link :to="{ name: 'index' }">index</router-link>
      </li>

      <li>
        <router-link :to="{ name: 'about' }">about</router-link>
      </li>

      <li>
        <router-link :to="{ name: 'secret' }">secret</router-link>
      </li>
    </ul>

    <div v-if="$can('val-1')">
      <span>val-1</span>
    </div>

    <div v-if="$can('val-1', 'val-1-2')">
      <span>val-1 / val-1-2</span>
    </div>

    <div v-if="$can('getCustomer')">
      <span>getCustomer</span>
    </div>

    <div v-if="$can('updateEmployees')">
      <span>updateEmployees</span>
    </div>

    <div v-if="$can('getEmployees')">
      <span>getEmployees</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss"></style>
